
@function row($r, $n) {
  $n: $n - 1;
  $i: floor($n / $r);
  @return $i;
}

@function column($r, $n) {
  $n: $n - 1;
  $i: $n % $r;
  @return $i;
}

@function diagonal($r, $n) {
  $n: $n - 1;
  $i: ($n % $r) + ($n / $r);
  @return $i;
}

@function chevron($r, $n) {
  $n: $n - 1;
  $i: abs(($r / 2) - 0.5 - ($n % $r));
  @return $i;
}

@function snake($r, $n) {
  $n: $n - 1;
  $i: floor($n / $r) % 2;
  @if $i!=0 {
    @return $n + ($r - ($n % $r * 2) - 1);
  }
  @return $n;
}

@function spiral($rows, $n) {
  $spiral: ();
  $dir: 0;
  $t: 1;
  $b: $rows;
  $l: 1;
  $r: $rows;

  @while ($l <= $r and $t <= $b) {
    @if $dir == 0 {
      @for $k from $l through $r {
        $spiral: append($spiral, ($l - 1) * $rows + $k);
      }
      $t: $t + 1;
    }

    @if $dir == 1 {
      @for $k from $t through $b {
        $spiral: append($spiral, ($k - 1) * $rows + $r);
      }
      $r: $r - 1;
    }

    @if $dir == 2 {
      @for $k from $l through $r {
        $spiral: append($spiral, $b * $rows - $k);
      }
      $b: $b - 1;
    }

    @if $dir == 3 {
      @for $k from $t through $b {
        $spiral: append($spiral, ($b - $k + $l) * $rows + $l);
      }
      $l: $l + 1;
    }

    $dir: ($dir + 1) % 4;
  }
  
  @return index($spiral, $n);
}

droplet($r, $n) {
  $n: $n - 1;
  $i: abs(($r / 2) - 0.5 - ($n % $r)) + abs(($r / 2) - 0.5 - floor($n / $r));
  @return $i;
}
