
@function linear($r, $n) {
  $n: $n - 1;
  $i: floor($n / $r);
  @return $i;
}

@function horizontal($r, $n) {
  $n: $n - 1;
  $i: $n % $r;
  @return $i;
}

@function diagonal($r, $n) {
  $n: $n - 1;
  $i: ($r * ($n % $r) + $n);
  @return $i;
}

@function chevron($r, $n) {
  @return $n;
}

@function snake($r, $n) {
  $n: $n - 1;
  $i: floor($n / $r) % 2;
  @if $i!=0 {
    @return $n + ($r - ($n % $r * 2) - 1);
  }
  @return $n;
}

@function spiral($r, $n) {
  @return $n;
}
